body {
    font-family: 'Vazir', Vazir, Tahoma, Arial, sans-serif !important;
    position: relative;
}

a {
    color : #e38cb7;
}
a:hover,
a:focus {
    color: #d6619c;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 45px;
    font-weight: 300;
    color: #633991;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}

h3 {
    color: #633991;
    font-size: 33px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    color: #633991;
}

h5 {
    font-size: 28px;
    font-weight: 300;
    color: #633991;
    margin-bottom: 0.7rem;
}

p {
    color: #959094;
}

p.lead {
    color: #e38cb7;
    margin-bottom: 2rem;
}

.light-bg {
    background-color: #faf6fb;
}

.section {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.section-title small {
    color: #998a9b;
}

.btn {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.37rem 1.35rem;
    transition: all .3s ease;
}

.btn-primary {
    border-radius: 3px;
    background: linear-gradient(122deg ,#e54595 0% , #fd378e 100%);
    box-shadow: 0px 9px 32px 0px rgba(0,0,0,.2);
    font-weight: 500;
    padding: .6rem 2rem;
    border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-image : linear-gradient(122deg , #fd378e 0% , #e54595 100%);
    box-shadow: 0px 9px 32px 0px rgba(0,0,0,.3);
    color: #fff;
}


.btn-outline-light:hover {
    color: #d6619c;
}

/* ------------------------------------
                Navbar
--------------------------------------*/
.nav-menu {
    padding: 1rem 0;
    transition: all .3s ease;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-color: rgb(74,13,143);
    background: linear-gradient(135deg , rgb(74,13,143) 0% , rgb(250,42,143) 100%);
    box-shadow:  0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu.is-scrolling {
    padding: 0;
}
.navbar-nav .nav-link {
    position: relative;
}

@media (min-width : 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size : 14px;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link.active::after {
        content: "";
        border-bottom: 2px solid #cd99d4;
        left: 1rem;
        right : 1rem;
        bottom: 5px;
        height: 1px;
        position: absolute;
    }
}

@media (max-width : 991px) {
    .navbar-nav .nav-item {
        text-align: center;
    }
}


/* ------------------------------------
                Header
--------------------------------------*/

header {
    padding: 100px 0 0;
    text-align: center;
    color : #fff;
}

.bg-gradient {
    background-image: linear-gradient(135deg , rgba(60,8,118,.8) 0% , rgba(250,0,118,0.8) 100%);
}

.tagline {
    font-size: 23px;
    font-weight: 300;
    color: #ffb8f6;
    max-width: 800px;
    margin : 0 auto;
}

.img-hoder {
    height: 0;
    padding-bottom: 33%;
    overflow: hidden;
}

@media (max-width : 1200px) {
    .img-hoder {
        padding-bottom: 50%;
    }
}

@media (max-width : 767px) {
    .img-hoder {
        padding-bottom: 100%;
    }
}

/* ------------------------------------
                Features
--------------------------------------*/
.gradient-fill:before {
    color: #fc73b4;
    background: linear-gradient(to bottom , #9477b4 0% , #fc73b4 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card.features {
    border: 0;
    border-radius: 3px;
    box-shadow: 0 5px 7px 0px rgba(0,0,0,0.04);
    transition: all .3s ease;
}

@media (max-width : 991px ) {
    .card.features {
        margin-bottom: 2rem;
    }
    [class^="col-"]:last-child .card.features {
        margin-bottom: 0;
    }
}

.card.features:before {
    content: "";
    position: absolute;
    width: 3px;
    color: #fc73b4;
    background: linear-gradient(to bottom , #9477b4 0% , #fc73b4 100%);
    top: 0;
    bottom: 0;
    left: 0;
} 

.card-text {
    font-size: 14px;
}

.card.features:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 30px 0px rgba(0,0,0,0.08);
}

.box-icon {
    box-shadow: 0px 0px 43px 0px rgba(0,0,0,.14);
    padding: 10px;
    width: 70px;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background-color: #fff;
}

.circle-icon {
    box-shadow: 0px 9px 32px 0px rgba(0,0,0,0.07);
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    font-size: 48px;
    color: #f5378e;
    text-align: center;
    font-weight: 300;
    transition: all .3s ease;
    background-color: #fff;
    line-height: 88px;;
}

.ui-steps li:hover .circle-icon {
    background-image: linear-gradient(122deg ,  #e6388e 0% , #fb378e 100%);
    box-shadow: 0px 9px 32px 0px rgba(0,0,0,0.09);   
    color: #fff; 
}

.ui-steps li {
    padding: 15px 0;
}

.ui-steps li:not(:last-child) {
    border-bottom: 1px solid #f8e3f0;
}


.perspective-phone {
    position: relative;
    z-index: -1;
}

@media (min-width : 992px) {
    .perspective-phone {
        margin-top: -150px;
    }
}

/* ------------------------------------
                Tabs
--------------------------------------*/
.tab-content {
    background-color: #fff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.04);
    padding: 3rem;
}

.tab-content p {
    line-height: 1.8;
}

.tab-content h2 {
    margin-bottom: .5rem;
}

.nav-tabs {
    border-bottom: 0;
    padding-right: 0;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    padding: 1rem 1rem;
    border-color: #faf6fb #faf6fb #fff;
    font-size: 19px;
    color: #b5a4c8;
    background: #f5eff7;
}

.nav-tabs .nav-link.active {
    background: #fff;
    border-top-width: 3px;
    border-color:  #ce75b4 #faf6fb #fff;
    color: #633991;
}